body
  font-family 'M PLUS Rounded 1c', sans-serif
  background-color #F4F4E8
.section
  box-shadow 0 5px 10px 0 rgba(37, 38, 39, 0.25)
  border-radius 30px
  margin 10px
  .heading
    background-color #252627
    text-align center
    padding 15px
    border-radius 20px 20px 0 0
    h1
      color #F4F4E8
      font-weight bold
      font-size 2em
  .content
    background-color #F4F4E8
    display flex
    flex-direction row
    flex-wrap wrap
    justify-content center
    align-items center
    padding 20px 0
    border-radius 20px
.fade
  &-enter, &-leave-to
    opacity 0
  &-enter-to
    opacity 1
  &-enter-active, &-leave-active
    transition opacity 0.2s
    transition-delay 0.2s
