<!DOCTYPE html>
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")

    meta(name="description" content="Asamac's Portfolio, and Blog")
    meta(name="keywords" content="Asamac")
    meta(name="author" content="Asamac")
    meta(name="theme-color" content="#252627")
    
    meta(property="og:title" content="Asamac")
    meta(property="og:type" content="website")
    meta(property="og:url" content="https://asamac.netlify.com")
    meta(property="og:description" content="Asamac's Portfolio, and Blog")
    meta(property="og:site_name" content="asamac")
    meta(property="og:locale" content="ja_JP")
    meta(property="og:image" content="./images/avatar.png")

    title Asamac

    link(rel="stylesheet", href="./stylus/global.styl")
  body
    #app
    script(src="index.js")
